# PocketNode files
players/
plugins/
worlds/
resource_packs/
/pocketnode.json
banned-*.json
ops.json
whitelist.json
docs/
.idea/*.xml
.idea/**
.idea/**/*.xml
.idea/
.idea*
node_modules*
.idea/workspace.xml
